.THIS {

}

.THIS #wrap {
    width: 550px;
}

.THIS .slds-item_label {
    width: 50%;
}

.THIS .slds-item_detail {
    width: 50%;
}

.THIS .slds-section__title {
    margin: 0 -20px;
}

.THIS .inline_block {
    display: inline-block;
}