.THIS {

}

.THIS.wrap {
    /*width: 550px;*/
    /*overflow-y: scroll;*/
    position: relative;
    display: block;
    /*height: 650px;*/
    position: relative;
    width: 100%;
    min-width: 550px;
    /*min-height: 650px;*/
}

.THIS .slds-item_label {
    width: 50%;
}

.THIS .slds-item_detail {
    width: 50%;
}

.THIS .slds-section__title {
    /*margin: 0 -20px;*/
}

.THIS .inline_block {
    display: inline-block;
}