#ECCN: Open Source
#GUSINFO: Program Management Orion, SFDO Outbound Funds Module
# 
# Copyright (c) 2021, salesforce.com, inc.
# All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause
# For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/BSD-3-Clause
#
# Python
*.py                  @SalesforceFoundation/release-engineering-reviewers
requirements.txt      @SalesforceFoundation/release-engineering-reviewers

# CumulusCI
/cumulusci.yml        @SalesforceFoundation/release-engineering-reviewers
**/tasks/             @SalesforceFoundation/release-engineering-reviewers

# GitHub Actions
.github/workflows/**  @SalesforceFoundation/release-engineering-reviewers
package.json          @SalesforceFoundation/release-engineering-reviewers
