.DS_Store
.appcloud
.cci
.externalToolBuilders
.project
.settings
/org_unpackaged
/src.org
/test_results.json
/test_results.xml
/test_results_junit.xml
.*.swp
*.pyc
*.sublime-project
*.sublime-workspace
**/.sfdx/
**/.vscode/
**/.idea/
log.html
output.xml
report.html
selenium-screenshot*.png
.cci
node_modules
.python_hash
.node_hash
venv