{
    "*.{cls,apex,js,html,md,yml,yaml,json}": [
        "prettier --write"
    ],
    "*.{cls,apex,js,html,md,xml,sql,py,yml,yaml,cmp,design}": [
        "cspell --no-must-find-files"
    ],
    "*.js": [
        "eslint"
    ],
    "yarn.lock": [
        "lockfile-lint"
    ]
}
